/* ===========================
   FORÇA DA SENHA
=========================== */

.barra-forca{
    width:100%;
    height:12px;
    background:#0A3566;
    border-radius:10px;
    overflow:hidden;
}

#forca{
    height:100%;
    width:33%;
    background:#ff3b30;
    transition:all .3s ease;
}

#forca.fraca{
    width:33%;
    background:#ff3b30;
}

#forca.media{
    width:66%;
    background:#ffb100;
}

#forca.forte{
    width:100%;
    background:#00c853;
}

#texto-forca{
    margin-top:10px;
    font-size:18px;
    font-weight:bold;
}